/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
  padding: 0px 20px;
}

/* Inner box */
.comments-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Heading style */
.comments-container h1 {
  color: #333;
  font-size: 2rem;
}
export default inde